body {
  font-family:
}

header {
  
}

header .row, footer.row {
  
}

h1 {
  
}

h2 {
  
}

h3 {
  
}

h4 {
  
}

p {
  
}

.jumbotron {
  
}

.col-md-6 {
  
}

footer {
  
}

footer ul {
  
}

/!
font-family: 'Playfair Display', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Parisienne', cursive;
font-family: 'Alex Brush', cursive;
font-family: 'Allura', cursive;
font-family: 'Lateef', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Give You Glory', cursive;
font-family: 'News Cycle', sans-serif;
font-family: 'Arsenal', sans-serif;
font-family: 'Julius Sans One', sans-serif;
!/
